doctype html
html
	head
		script(src="/js/riot.js")
	body
		h1 ToDo App Hosted by: Peyton Plaisance
		script(type="riot/tag" src="/tags/todo.tag")
		script(src="/js/client.js")
		todo
		script.
			riot.mount('todo', todoAPI);
